<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Got Wlcome from Station</title>
        <meta name="description" content="Just one step away to get feed">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{files[0]}}">
        <link rel="shortcut icon" type="image/x-icon" href="static/app_pics/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="static/app_pics/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/app_pics/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/app_pics/favicon-16x16.png">
</head>
    <body>

        <div class="container">
            <div class="form-container">
                <div class="form_">
                <form class="take_to_the_acc" action="/search" method="POST" onsubmit="return vl_frm(event)">
                    <center><b>Welcome again..!</b></center>
                    <input type="text" class="name_of_station xxx ix" id="name_of_station" name="name_of_station" placeholder="Station">
                    <input type="password" class="pass_of_station xxx ix" id="pass_of_station" name="passkey_of_station" placeholder="Passkey">
                    <input type="submit" class='xxx mx' id="submit_to_search">
                </form></div>
            </div>
        </div>           
        <script src="{{files[1]}}"> 
        </script>
    </body>
</html>